@import url('normalize.css');
/* Icon font for player controls */
@font-face {
	font-family: 'playericons';
	src: 	url("fonts/playericons.eot");
	src: 	url("fonts/playericons.eot?#iefix") format('embedded-opentype'),
		url("fonts/playericons.woff") format('woff'),
		url("fonts/playericons.ttf") format('truetype'),
		url("fonts/playericons.svg#playericons") format('svg');
	font-weight: normal;
	font-style: normal;
}
